:root {
  --main-font-color: #212121;
  --main-bg-color: #6cd6b2;
  --headder-bg-color: #099c5744;
  --headder-footer-bg-color: #088300;
  --title-box-volor: #b1c359ef;
  --card-item-div-color: #e4f58b;
}

/* Common stules */
main {
  flex-grow: 1;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* links syles */
.link {
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-right: 20px;
}

/* headers styles */
.logo-icom-box {
  display: block;
  align-items: center;
  margin: 0;
  padding: 10px 40px 10px 0;
}

.logo-icon {
  fill: none;
}

.logo-icon:hover,
.logo-icon:focus {
  fill: #e4f58b;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background-color: var(--title-box-volor);
  box-shadow: 7px 7px 10px 2px var(--headder-footer-bg-color);
}

.menu-style {
  display: flex;
  gap: 30px;
}

.first-logo-part,
.second-logo-part {
  color: rgb(168, 145, 111);
  font-size: 20px;
  text-decoration: none;
}

.nav-hedder {
  border: 1px dashed #212121;
  padding-top: 0;
  padding-left: 5px;
  background-color: var(--headder-bg-color);
  border-radius: 10px;
}

.headder-fotter-container {
  display: flex;
  max-width: 1336px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: space-around;
}

.headder-bg {
  background-color: var(--headder-footer-bg-color);
}
/* main styles */

.container {
  max-width: 100%;
  padding: 0 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(160deg, #26f9b3b9, #6cd6b346);
}

.card-set {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin: 20px 0;
}

.card-set-item {
  width: calc((100% - 10px) / 5);
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-set-item-div {
  display: flex;
  flex-shrink: 0;
  max-width: 125px;
  border: 1px solid green;
  min-height: 61px;
  background-color: var(--card-item-div-color);
}

.card-p {
  display: flex;
  margin: 0;
  padding: 5px 2px;
  text-align: justify;
}

.top-picture-toad {
  border-radius: 10px;
  margin-left: 165px;
  margin-top: 80px;
  padding: 3px 10px;
  overflow: hidden;
}

.top-picture-toad:hover,
.top-picture-toad:focus {
  border: 1px solid;
  border-color: red;
}

.top-picture-toad:active {
  border-color: tomato;
  border-style: dotted;
}

.hero-section-bg {
  background-image: url(./img/bg/main-h-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--main-bg-color);
}
/* footer styles */
.footer-container {
  display: flex;
  gap: 20px;
}

.footer-bg {
  background-color: var(--headder-footer-bg-color);
}
