:root {
    --main-font-color: #212121;
    --main-bg-color: #fafafa;
}
/* common styles */

/* body styles */
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}

/* links syles */
.link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}
/* header styles */
.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px lightseagreen;
}

.first-logo-part,
.second-logo-part {
    color: rgb(168, 145, 111);
    font-size: 20px;
    text-decoration: none;
}

.ul-li-styles {
    list-style-type: none;
}

/* main styles */

/* footer styles */